html {
    background-color: #959A99;
}

.container {
    text-align: center;
}

.hero-head {
    background-color: #B1C2A4;
    color: white;
}

.hero-body {
    background-color: #ffffff;
}

.hero-foot {
    background-color: #B1C2A4;
    color: white;
}

.navbar-burger {
    color: white;
}

.navbar-brand {
    background-color: #B1C2A4;
}

.navbar-item{
    background-color: #B1C2A4;
    color: white;
    padding-right: 30px;
}

.navbar-item-dropdown,
.navbar-dropdown {
    background-color: #A0B5BD;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: #959A99;
    color: white
}

.notification .content,
.notification .subtitle,
.notification .title {
    color: #363636;
}

.fa {
    padding-right: 10px;
}

.content {
    padding:30px;
    background-color: #eeeeee;
    border-radius: 25px;
}

.image {
    margin:25px;
    border-radius: 25px;
}

.footer {
    background-color: #A0B5BD;
    color: white;
    padding: 1.5rem 1.5rem 1.5rem;
}

.footerlink {
    background-color: #A0B5BD;
    color: white;
}

.is-blue {
    background-color: #A0B5BD;
}

.is-green {
    background-color: #B1C2A4;
}

.is-rosa {
    background-color: #E4B9CC;
}

.is-grey {
    background-color: #959A99;
}

.content ul {
    margin-left: 10em;
    margin-right: 10em;
}